@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    background: #23242a;
}

.navbar{
    position: absolute;
    width: 100%;
    background-color: #1c1c1c;
}

.navbar .container-fluid a{
    color: white;
}

.navbar .container-fluid .nav-link:hover{
    color:#ff2770;
    font-size: 1.04em;
}
.navbar .container-fluid .navbar-brand:hover{
   color: #45f3ff;
   font-size:  1.5em;
   transition: 0.5s;
}

.cerrar h2{
    margin: 10px;
    color:#45f3ff;
    font-size: 30px;
}

.cerrar h2:hover{
    transition: 1s;
    font-size: 35px;
}

.cerrar a{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 23px;
    text-decoration: none;
    right: 10px;
}

.cerrar a:hover{
    color: #ff2770;
   
}

.formSimulador{
    background: #1c1c1c;
    width: 500px;
    height: 550px;
    border-radius: 8px;
    color: white;
    position: absolute;
    left: 120px;
    top: 65px;
}

.formSimuladorHi{
    background: #1c1c1c;
    align-items: center;
    width: 500px;
    height: 550px;
    border-radius: 8px;
    color: white;
    position: absolute;
    left: 750px;
    top: 65px;
}

.formSimuladorHi form,
.formSimulador form{
    position: absolute;
    inset: 4px;
    padding: 25px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formSimulador form h2{
    font-weight: 500;
    font-size: 25px;
    color: #ff2770;
    text-align: center;
    letter-spacing: 0.1em;
}

.formSimuladorHi form h2{
    font-weight: 500;
    font-size: 25px;
    color: #45f3ff;
    text-align: center;
    letter-spacing: 0.1em;
}

.formSimuladorHi form .inputBox,
.formSimulador form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 25px;
}

.formSimuladorHi form .valCuota,
.formSimulador form .valCuota{
    position: relative;
    width: 300px;

}

.formSimuladorHi form .inputBox input,
.formSimuladorHi form .valCuota input,
.formSimulador form .valCuota input,
.formSimulador form .inputBox input{
    position: relative;
    min-width: 100%;
    padding: 10px 10px 10px;
    font-size: 1em;
    letter-spacing: 0.05em;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
}

.formSimuladorHi form .inputBox select,
.formSimulador form .inputBox select{
    position: relative;
    width: 100%;
    padding: 10px 10px 10px;
    font-size: 1em;
    letter-spacing: 0.05em;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
}

.formSimuladorHi form .inputBox label,
.formSimuladorHi form .valCuota label,
.formSimulador form .valCuota label,
.formSimulador form .inputBox label{
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.1em;
}

.formSimuladorHi form .buttons,
.formSimulador form .buttons{
    display: flex;
    margin: 20px 0;
    left: 10px;
    justify-content: center;
    align-items: center;
}

.formSimuladorHi form .buttons input[type="submit"],
.formSimulador form .buttons input[type="submit"]{
    position: relative;
    padding: 8px 15px;
    left:  50px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
}

.formSimulador form .buttons input[type="submit"]:hover{
    background: #45f3ff;
}

.formSimuladorHi form .buttons input[type="submit"]:hover{
    background: #ff2770;
}

